---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import SocialLinks from "./SocialLinks.astro";
import ThemeIcon from "./ThemeIcon.astro";
import navigation from "@/data/navigation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-6 md:flex-col md:justify-between">
  <div class="flex justify-between">
    <a
      href={`mailto:${presentation.mail}`}
      class="font-display text-xl hover:text-neutral-600 dark:hover:text-neutral-100"
    >
      <span class="sr-only">Email</span>
      {presentation.mail}</a
    >
    <ThemeIcon />
  </div>
  <nav role="navigation" class="flex justify-between">
    <ul role="list" class="flex flex-row gap-2">
      {
        navigation.map((item, i, { length }) => (
          <>
            <li>
              <a
                href={item.href}
                class:list={{
                  ["dark:hover:text-neutral-100 hover:text-neutral-600"]: true,
                  ["dark:text-neutral-100"]: pathname === item.href,
                }}
              >
                <span class="sr-only">{item.label}</span>
                {item.label}
              </a>
            </li>
            {length - 1 !== i && <li>/</li>}
          </>
        ))
      }
    </ul>

    <SocialLinks />
  </nav>

  <hr class="w-full border-zinc-600 opacity-30 dark:border-zinc-500" />
</header>
